---

interface Props {
	title: string;
    img: string;
    h5 : string;
    li1: string;
    li2: string;
    li3: string;
}

const { img, title, h5, li1, li2, li3} = Astro.props;
---

<div class="card lg:card-side bg-secondary shadow-xl border-primary border-2 rounded-md overflow-hidden flex flex-col ">
    <div class="flex justify-center">
        <img class="" src={img} alt="lineart" />
    </div>   
    <div class="card-body">
        <div class="flex justify-between">
            <h2 class="card-title text-4xl">{title}</h2>
            <button class="btn btn-lg bg-primary hover:bg-accent text-white sm:btn-md md:btn-lg lg:btn-lg">{h5}</button>
        </div>
        <div class="divider divider-primary"></div>
        <ul class="ul2 text-white text-3xl list-none">
                <li class="my-4">{li1}</li>
                <li class="my-4">{li2}</li>
                <li class="my-4">{li3}</li>
        </ul>
     
    </div>
</div>
